<h1>Library Inventory Management</h1>
<form>
    <h1>Add book to library inventory</h1>
    <label>ISBN: </label>
    <select name="title" id="title">
        {{#each titles}}
        <option value="{{ISBN}}">{{ISBN}} - {{bookTitle}}</option>
        {{/each}}
    </select>
    <label>Purchase Date: </label>
    <input type="date" name="purchase_date" />
    <button type="submit">Submit</button>
</form>
<br>
<div>
    <form>
        <label>Search by Title:
            <input type="text" />
        </label>
    </form>
    <table>
        <caption>Titles</caption>
        <thead>
            <th>Book ID</th>
            <th>ISBN</th>
            <th>Title</th>
            <th>Date Purchased</th>
            <th>Is Active?</th>
        </thead>
        <tbody>
            {{#each books}}
            <tr>
                <td>{{bookID}}</td>
                <td>{{ISBN}}</td>
                <td>{{bookTitle}}</td>
                <td>{{purchaseDate}}</td>
                <td>{{isActive}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>