<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>

<h1>Library Inventory Management</h1>
<form id="addBook" action="/books" method="post">
    <h2>Add Book</h2>
    <label for="ISBN">ISBN: </label>
    <select name="ISBN" required>
        {{#each titles}}
        <option value="{{ISBN}}">{{ISBN}} - {{bookTitle}}</option>
        {{/each}}
    </select>
    <label for="purchaseDate">Purchase Date: </label>
    <input type="date" id="purchaseDate" name="purchaseDate" />
    <button type="submit">Submit</button>
</form>
<br>
<div>
    <table>
        <caption>Titles</caption>
        <thead>
            <th>Book ID</th>
            <th>ISBN</th>
            <th>Title</th>
            <th>Date Purchased</th>
            <th>Active Item</th>
            <th></th>
        </thead>
        <tbody>
            {{#each books}}
            <tr>
                <td>{{bookID}}</td>
                <td>{{ISBN}}</td>
                <td>{{bookTitle}}</td>
                <td>{{purchaseDate}}</td>
                <td>{{#if isActive}}
                    Yes
                    {{else}}
                    No
                    {{/if}}
                </td>
                <td>
                    <form action="/books/{{bookID}}" method="post">
                        {{#if isActive}}
                        <input type="hidden" name="activeStatus" value=0>
                        <button type="submit">Set to Inactive</button>
                        {{else}}
                        <input type="hidden" name="activeStatus" value=1>
                        <button type="submit">Set to Active</button>
                        {{/if}}
                    </form>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    </script>
    <script>
        function todayDate() {
            let today = new Date().toISOString().slice(0, 10);
            $("#purchaseDate").val(today);
        }
    </script>
    <script defer>todayDate();</script>
</div>