<!DOCTYPE html>
<html lang="en">
    <body>
        <h1>Loan Items</h1>
        <table>
            <caption>Renewing a book will automatically extend the due date by two weeks.</caption>
            <thead>
                <tr>
                    <th>Loan ID</th>
                    <th>Patron</th>
                    <th>Book ID</th>
                    <th>Title</th>
                    <th>Due Date</th>
                    <th>Loan Status</th>
                    <th>Renewal Count</th>
                    <th>Confirm</th>
                    <th>Renew</th>
                    <th>Return</th>
                </tr>
            </thead>
            <tbody>
                {{#each loanItems}}
                <tr>
                    <form>
                        <input type="hidden" id="loanID" name="loanID" value={{loanID}}>
                        <input type="hidden" id="bookID" name="bookID" value={{bookID}}>
                        <td>{{loanID}}</td>
                        <td>{{patronName}}</td>
                        <td>{{bookID}}</td>
                        <td>{{bookTitle}}</td>
                        <td>{{dueDate}}</td>
                        <td>{{statusDescription}}</td>
                        <td>{{renewalCount}}</td>
                        <td><button onclick="change_loan"({{loanID}},{{bookID}},{{dueDate}},{{statusDescription}})>Submit Changes</button></td>
                        <td><button type="submit" formaction="/renew_loan" formmethod="post">Renew</button></td>
                        <td><button type="submit" formaction="/return_book" formmethod="post">Return</button></td>
                    </form>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </body>
</html>