<div>
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <h1>Library Inventory Management</h1>
    <h2>Add a New Patron</h2>
    <form id="addPatron" action="/patrons" method="post">
        <p><label for="firstName">First Name:</label><br>
            <input type="text" name="firstName" required>
        </p>
        <p><label for="lastName">Last Name:</label><br>
            <input type="text" name="lastName" required>
        </p>
        <p><label for="registerDate">Registered Date:</label><br>
            <input type="date" name="registerDate">
        </p>
        <p><label for="contactEmail">Email:</label><br>
            <input type="email" name="contactEmail">
        </p>
        <p><label for="contactPhone">Phone:</label><br>
            <input type="tel" name="contactPhone">
        </p>
        <p><label for="favoriteTitle">Favorite Book:</label><br>
            <select name="favoriteTitle">
                <option value=null selected>--</option>
                {{#each titles}}
                <option value="{{ISBN}}">{{ISBN}} - {{bookTitle}}</option>
                {{/each}}
            </select>
        </p>
        <p><input type="submit" value="Submit"></p>
    </form>
</div>
<div>
    <h2>Find a Patron</h2>
    <form id='search_patrons' action='' method=''>
        <!--- this form does not submit directly, the button handles all the interaction with backend -->
        <label> First Name:</label>
        <input id='first_name_search_string' type='text' name='first_name_search_string' value=''>
        <input type="button" value="Search" onclick="searchPatronsByFirstName()">
    </form>
    <button id="redirectPatrons">Clear</button>
</div>
</div>
<div>
    <h2>Existing Patrons</h2>
    <table>
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Registration Date</th>
                <th>Contact Email</th>
                <th>Contact Phone</th>
                <th>Favorite Book</th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            {{#each patrons}}
            <tr>
                <td>{{firstName}}</td>
                <td>{{lastName}}</td>
                <td>{{registerDate}}</td>
                <td>{{contactEmail}}</td>
                <td>{{contactPhone}}</td>
                <td>{{bookTitle}}</td>
                <td><a href="/patrons/{{id}}">Update</a></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <script>function searchPatronsByFirstName() {
            //get the first name 
            var first_name_search_string = document.getElementById('first_name_search_string').value
            //construct the URL and redirect to it
            window.location = '/patrons/search/' + encodeURI(first_name_search_string)
        }</script>
    <script type="text/javascript">
        document.getElementById("redirectPatrons").onclick = function () {
            {{!-- location.href = "/patrons"; --}}
            window.location.href = "/patrons";
        };
    </script>
</div>